[run]
omit =
    */tests/*
    */llama_stack/providers/*
    */llama_stack/templates/*
    .venv/*
    */llama_stack/cli/scripts/*
    */llama_stack/ui/*
    */llama_stack/distribution/ui/*
    */llama_stack/strong_typing/*
    */llama_stack/env.py
    */__init__.py
