black==24.4.2
fastapi
fbgemm-gpu==0.8.0
fire
flake8
httpx
huggingface-hub
json-strong-typing
omegaconf
pre-commit
pydantic==1.10.13
pydantic_core==2.18.2
python-openapi
requests
ufmt==2.7.0
usort==1.0.8
uvicorn
