aiosqlite
blobfile
chardet
chromadb-client
faiss-cpu
fastapi
fire
httpx
litellm
matplotlib
mcp
nltk
numpy
opentelemetry-exporter-otlp-proto-http
opentelemetry-sdk
pandas
pillow
psycopg2-binary
pymongo
pypdf
redis
requests
scikit-learn
scipy
sentencepiece
sqlalchemy[asyncio]
tqdm
transformers
uvicorn
sentence-transformers
torch
torchvision
