aiohttp
aiosqlite
autoevals
blobfile
chardet
chromadb-client
datasets
emoji
faiss-cpu
fastapi
fire
httpx
langdetect
matplotlib
mcp
nltk
numpy
ollama
openai
opentelemetry-exporter-otlp-proto-http
opentelemetry-sdk
pandas
peft
pillow
psycopg2-binary
pymongo
pypdf
pythainlp
redis
requests
scikit-learn
scipy
sentencepiece
sqlalchemy[asyncio]
torch
tqdm
transformers
tree_sitter
trl
uvicorn
