@import url("theme.css");

.wy-nav-content {
    max-width: 90%;
}

.wy-nav-side {
    /* background: linear-gradient(45deg, #2980B9, #16A085); */
    background: linear-gradient(90deg, #332735, #1b263c);
}

.wy-side-nav-search {
    background-color: transparent !important;
}

.hide-title h1 {
    display: none;
}

h2, h3, h4 {
    font-weight: normal;
}
html[data-theme="dark"] .rst-content div[class^="highlight"] {
  background-color: #0b0b0b;
}
pre {
    white-space: pre-wrap !important;
    word-break: break-all;
}

[data-theme="dark"] .mermaid {
    background-color: #f4f4f6 !important;
    border-radius: 6px;
    padding: 0.5em;
  }
