aiohttp
aiosqlite
blobfile
chardet
datasets
faiss-cpu
fastapi
fire
httpx
matplotlib
nltk
numpy
openai
opentelemetry-exporter-otlp-proto-http
opentelemetry-sdk
pandas
pillow
psycopg2-binary
pymongo
pypdf
redis
requests
scikit-learn
scipy
sentencepiece
sqlalchemy[asyncio]
tqdm
transformers
uvicorn
