aiosqlite
autoevals
blobfile
chardet
chromadb-client
datasets
emoji
faiss-cpu
fastapi
fire
httpx
langdetect
matplotlib
mcp
nltk
numpy
openai
opentelemetry-exporter-otlp-proto-http
opentelemetry-sdk
pandas
pillow
psycopg2-binary
pymongo
pypdf
pythainlp
redis
requests
scikit-learn
scipy
sentencepiece
sqlalchemy[asyncio]
together
tqdm
transformers
tree_sitter
uvicorn
sentence-transformers
torch
torchvision
