accelerate
aiosqlite
autoevals
blobfile
chardet
chromadb-client
datasets
emoji
fairscale
faiss-cpu
fastapi
fbgemm-gpu-genai==1.1.2
fire
httpx
langdetect
lm-format-enforcer
matplotlib
mcp
nltk
numpy
openai
opentelemetry-exporter-otlp-proto-http
opentelemetry-sdk
pandas
pillow
psycopg2-binary
pymongo
pypdf
pythainlp
redis
requests
scikit-learn
scipy
sentence-transformers
sentencepiece
sqlalchemy[asyncio]
torch
torchao==0.8.0
torchvision
tqdm
transformers
tree_sitter
uvicorn
zmq
