apiVersion: v1
kind: Service
metadata:
  name: llama-stack-service
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: llama-stack
  ports:
    - name: llama-stack-api
      port: 8321
      targetPort: 8321
      protocol: TCP
    - name: llama-stack-ui
      port: 8322
      targetPort: 8322
      protocol: TCP
