apiVersion: v1
kind: Service
metadata:
  name: llama-stack-service
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: llama-stack
  ports:
    - port: 8321
      targetPort: 8321
      protocol: TCP
