# -------------------------------------------------
# Hugging Face Token Secret
# -------------------------------------------------
apiVersion: v1
kind: Secret
metadata:
  name: hf-token-secret
type: Opaque
data:
  token: ${HF_TOKEN_BASE64}
---
# -------------------------------------------------
# NGC Docker Registry Secret
# -------------------------------------------------
apiVersion: v1
kind: Secret
metadata:
  name: ngc-docker-registry
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: ${NGC_DOCKER_CONFIG_JSON}
---
# -------------------------------------------------
# NGC API Secret
# -------------------------------------------------
apiVersion: v1
kind: Secret
metadata:
  name: ngc-api
type: Opaque
data:
  NGC_API_KEY: ${NGC_API_KEY_BASE64}
