apiVersion: v1
kind: Service
metadata:
  name: llama-stack-ui-service
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: llama-stack
    app.kubernetes.io/component: ui
  ports:
    - name: llama-stack-ui
      port: 8322
      targetPort: 8322
      protocol: TCP
